src/conf/xml-resources/web-service-references/UsersWS/wsdl/localhost_8080/NotesAPI2/UsersWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.notes.incca.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.notes.incca.com/">

<xs:element name="add" type="tns:add"/>

<xs:element name="addResponse" type="tns:addResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="user" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="useCode" type="xs:int" minOccurs="0"/>
<xs:element name="useEmail" type="xs:string" minOccurs="0"/>
<xs:element name="useName" type="xs:string" minOccurs="0"/>
<xs:element name="usePass" type="xs:string" minOccurs="0"/>
<xs:element name="useUser" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>