src/conf/xml-resources/web-service-references/NotesWS/wsdl/localhost_8080/NotesAPI2/NotesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.notes.incca.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.notes.incca.com/">

<xs:element name="addNotes" type="tns:addNotes"/>

<xs:element name="addNotesResponse" type="tns:addNotesResponse"/>

<xs:element name="findByUser" type="tns:findByUser"/>

<xs:element name="findByUserResponse" type="tns:findByUserResponse"/>

<xs:element name="notes" type="tns:notes"/>

<xs:complexType name="findByUser">
<xs:sequence>
<xs:element name="use_code" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:notes" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notes">
<xs:sequence>
<xs:element name="notCode" type="xs:int" minOccurs="0"/>
<xs:element name="notFecreate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="notText" type="xs:string" minOccurs="0"/>
<xs:element name="notTitle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNotes">
<xs:sequence>
<xs:element name="note" type="tns:notes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNotesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>